.header{
    border-bottom: 2px solid yellow;
    font-family: 'Sofia';
    color: #2F3559;
}
body {
    background-color: #f1bbbb;
    width: 100%;
    height: 100vw;
}

h1 {
    padding-top: 50px;
    padding-bottom: 30px
}
.photo{
    height: 200px;
}

form {
    font-family: 'Open Sans';
    color: #2F3559;
}